  <!--Start footer -->

  <footer class="pt-5 bottomPart">
    <div class="container pt-5">
      <div class="row pb-5">
        <div class="col-md-3">
          <div class="Information display-5">
            <h3>Information</h3>
            <ul>
              <li><a href="/about">about us</a></li>
              <li><a href="/product">products</a></li>
              <li><a href="/contact">contact info</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="customer-service display-5">
            <h3>customer service</h3>
            <ul>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="#">Returns</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="my-account display-5">
            <h3>my account</h3>
            <ul>
              <li><a href="/myAccount">My Account</a></li>
              <li><a href="/myAccount">Order History</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="follow display-5">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook"></i>
            </a>
            <a href="#"><i class="fab fa-twitter-square"></i>
            </a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-4">
            <i class="fas fa-map"></i>
            <h3 class="first-heading">address</h3>
            <p>17 Street Name here Office, 80 Newlok US 8.</p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-mobile-alt"></i>
            <h3 class="midl-heading">phone number</h3>
            <p>+99 854 785 478 586<br />102 458 658 587 548</p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-envelope-open"></i>
            <h3 class="last-heading">email</h3>
            <p>info@email.com<br />company@email.com</p>
          </div>
      </div>
      <div class="row pt-5">
          <div class="col-sm-12">
              <p class="copy-right">
                  Copyright &copy; <span id="year">2018</span> - All rights reserved for Global dev gate
                </p>
          </div>
        </div> 
    </div>
</footer>
<!-- End of footer -->
