    <!-- start for nav  -->
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
            <div class="container">
            <a class="navbar-brand" href="/api/home">sweet dokkana</a>
            <button
                class="navbar-toggler collapsed"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-expanded="false"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="orders.html"
                    ><i class="fas fa-shopping-cart"></i> orders</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/users/me"
                    ><i class="fas fa-user"></i>profile</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/products"
                        >catalog</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="customers.html">customers</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- End for nav -->
        <!-- start section for side navbar -->
        <div class="side-navbar ihidden">
            <i class="fas fa-bars control-icon"></i>
            <div class="admin">
            <div class="admin-img">
                <img alt="admin-img" src="../../assets/imgs/adminImg.jpeg" class="img-fluid" />
            </div>
            <div class="admin-name">
                <p class="name"><admin-name></p>
                <p class="surname text-muted">Super Admin</p>
            </div>
            </div>
            <div class="links">
            <ul>
                <li class="active">
                <a class="nav-link" href="/api/home">
                    <span class="link-title ">dashbord </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
                <li>
                <a class="nav-link" href="/api/products">
                    <span class="link-title ">catalog </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
                <li>
                <a class="nav-link" href="orders.html">
                    <span class="link-title">orders </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
                <li>
                <a class="nav-link" href="customers.html">
                    <span class="link-title">customers </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
            </ul>
            </div>
            <div class="footer">
            <div class="social media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            </div>
        </div>
        <!-- End section for fixsid navbar -->
    
        <!--start header section  -->
        <header>
            <div class="header-section">
            <div class="container">
                <div class="row">
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h2>
                    Welcome <strong>Admin</strong><br/><small class="text-muted"
                        >You Look Awesome!</small
                    >
                    </h2>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="section">
                        <strong>12569</strong><br />
                        
                        <i class="fas fa-shopping-basket"></i><br />Daily
                            Order
                        </h2>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="section">
                        <strong>2346</strong><br />
                        <i class="fas fa-rocket"></i><br />orders
                            Completed
                        </h2>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="section">
                        <strong>$ 101</strong><br />
                        <i class="fas fa-gem"></i> <br />Monthly
                            Sales
                        </h2>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <h2 class="section">
                        <strong>$ 56000</strong><br />
                        <i class="fas fa-chart-area"></i><br />Total Revenue
                        </h2>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <img src="../../../assets/imgs/dashboard_header.jpeg" alt="header image" class="animation-zoom" >
        </header>
        <!--end header section  -->