<% include partials/HomeHeader.ejs%>
<!-- Main style sheet -->
<link rel="stylesheet" href="../../assets/css/about.css" />
</head>
<body>
<% include partials/Homenavigation.ejs%>
 <!-- Start for header -->
 <header>
    <div class="overlay d-md-block text-center">
        <div id="wavePart"></div>
        <div class="container">
        <h1 class="display-2">about us</h1>
        <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet magni
            ad animi eos, provident dolore.
        </h4>
        <button data-scroll="#about" class="btn  btn-lg mybutton"><span>explore</span></button>
        </div>
    </div>
    </header>
    <!-- End for header -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- start about section -->
    <section id="about" class="py-5 topPart">
    <div class="container">
        <div class="row">
        <div class="col-sm-6" data-aos="fade-up-right">
            <div class="about-title">
            <br />
            <div class="sub-title">about us</div>
            <h2>We love make <strong>sweets</strong></h2>
            </div>
            <div class="about-item">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Impedit inventore obcaecati optio pariatur architecto animi
                neque dignissimos eius quam. Sint quas assumenda nisi vel
                nesciunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
                deserunt adipisci accusantium ad eligendi perspiciatis.
            </p>
            <a class="btn  btn-lg mybutton" href="products.html">explore</a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-2" data-aos="fade-up-left">
            <div class="about-box">
            <div class="box-overlay"></div>
            <a href="#" class="vidiolink">
                <img
                src="../assets/imgs/aboutpic2.jpeg"
                class="img-fluid"
                alt="vidioPic"
                />
                <span class="wrapper">
                <span class="emitter">
                    <i class="fa fa-play"></i> <span class="wave"></span>
                </span>
                </span>
            </a>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- End about section -->

    <!-- Start section of team -->
    <section id="team" class="py-5">
    <div class="container">
        <h3 class="text-center">Our team</h3>
        <div class="row py-3" data-aos="fade-right">
        <div class="col-md-6"  >
            <div id="pepole">
            <img src="../assets/imgs/chef1.jpeg" class="img-fluid" alt="our chife" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="chife-name">
            <span>chife Name</span></div>
            <div id="chife-work">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Suscipit, aliquid alias. Quod nostrum magnam id, exercitationem
                provident molestiae quisquam sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Suscipit, aliquid alias. Quod nostrum magnam id, exercitationem
                provident molestiae quisquam sunt?
            </p>
            </div>
        </div>
        </div>
        <div class="row py-3" data-aos="fade-left">
        <div class="col-md-6">
            <div class="chife-name"><span>chife Name</span></div>
            <div id="chife-work">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Suscipit, aliquid alias. Quod nostrum magnam id, exercitationem
                provident molestiae quisquam sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Suscipit, aliquid alias. Quod nostrum magnam id, exercitationem
                provident molestiae quisquam sunt?
            </p>
            </div>
        </div>
        <div class="col-md-6">
            <div id="pepole">
            <img src="../assets/imgs/chef2.jpg" class="img-fluid" alt="our chife" />
            </div>
        </div>
        </div>
        <div class="row py-3" data-aos="fade-right">
        <div class="col-md-6">
            <div id="pepole">
            <img src="../assets/imgs/chef3.jpeg" class="img-fluid" alt="our chife" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="chife-name"><span>chife Name</span></div>
            <div id="chife-work">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Suscipit, aliquid alias. Quod nostrum magnam id, exercitationem
                provident molestiae quisquam sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Suscipit, aliquid alias. Quod nostrum magnam id, exercitationem
                provident molestiae quisquam sunt?
            </p>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- End section of team -->

    <!-- start reviws section -->
    <section id="reviw" class="py-1">
    <div class="overlay d-md-block text-center">
        <div class="container">
        <h3 class="text-center">testimonials</h3>
        <p class="text-center text-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            molestias laudantium deleniti voluptates qui officiis optio
            praesentium mollitia exercitationem unde animi, perferendis
            provident reprehenderit. Necessitatibus.
        </p>
        <div class="row">
            <div class="col-md-4 mt-4" data-aos="zoom-in">
                <div class="card customer-card">
                <div class="card-img-block">
                    <img class="card-img-top" src="../assets/imgs/custmore1.jpeg" alt="custmornu1">
                </div>
                <div class="card-body pt-0">
                    <h4 class="card-title">Florence Garza</h4>
                    <p class="card-text">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Accusantium Facere Distinctio Nisi Corrupti Nulla Ducimus Cumque Earum Debitis Minus Nostrum.</p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mt-4" data-aos="zoom-in">
                <div class="card customer-card">
                <div class="card-img-block">
                    <img class="card-img-top" src="../assets/imgs/custmore2.jpeg"
                    alt="custmornu1">
                </div>
                <div class="card-body pt-0">
                    <h4 class="card-title">Florence Garza</h4>
                    <p class="card-text">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Accusantium Facere Distinctio Nisi Corrupti Nulla Ducimus Cumque Earum Debitis Minus Nostrum.</p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mt-4" data-aos="zoom-in">
                <div class="card customer-card">
                <div class="card-img-block">
                    <img class="card-img-top" src="../assets/imgs/custmore3.jpeg"
                    alt="custmornu1">
                </div>
                <div class="card-body pt-0">
                    <h4 class="card-title">Florence Garza</h4>
                    <p class="card-text">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Accusantium Facere Distinctio Nisi Corrupti Nulla Ducimus Cumque Earum Debitis Minus Nostrum.</p>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>

    <!-- End reviws section -->
    <br />
    <br />
    <br />
    <br />
    <br />


<% include partials/Homefooter.ejs%>

<% include partials/Homescripts.ejs%>
