<% include partials/HomeHeader.ejs%>
<!-- Main style sheet -->
<link rel="stylesheet" href="../../assets/css/forgot-password.css" />
</head>
<body>
<% include partials/Homenavigation.ejs%>
   <!-- Start for header -->
   <header>
        <div class="overlay d-md-block text-center">
            <div id="wavePart"></div>
            <div class="container">
            <h1 class="display-2">check your email</h1>

            <button data-scroll="#forgot-password" class="btn  btn-lg mybutton">
                <i class="fas fa-angle-double-down"></i>
            </button>
            </div>
        </div>
    </header>
    <!-- End for header -->
        <br />
        <br />
        <br />

    <!-- start message form -->
    <section id="forgot-password" class="text-center topPart">
        <div class="container">
            <h3>insert your email</h3>
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                <input class="form-control" type="email" id="email" />
                <p>a message will sent to your email</p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <button class="btn btn-primary mybutton" type="submit">
                Submit
                </button>
            </div>
            </div>
            <div class="row"><div class="col-12"></div></div>
        </div>
    </section>
    <!-- End register form -->

<br/>
<br/>
<br/>
<br/>
<br/>

<% include partials/Homefooter.ejs%>

<% include partials/Homescripts.ejs%>



  