
<% include partials/header.ejs%>
<!-- Main style sheet -->
<link rel="stylesheet" href="../../../../assets/css/viewproduct.css" />
</head>
<body>
       <!-- start for nav  -->
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
            <div class="container">
            <a class="navbar-brand" href="/api/home">sweet dokkana</a>
            <button
                class="navbar-toggler collapsed"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-expanded="false"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/orders"
                    ><i class="fas fa-shopping-cart"></i> orders</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/home/me"
                    ><i class="fas fa-user"></i>profile</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/products"
                        >catalog</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/customers">customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/users/logout">logout</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- End for nav -->
        <!-- start section for side navbar -->
        <div class="side-navbar ihidden">
            <i class="fas fa-bars control-icon"></i>
            <div class="admin">
            <div class="admin-img">
                <img alt="admin-img" src="../../../assets/imgs/adminImg.jpeg" class="img-fluid" />
            </div>
            <div class="admin-name">
                <p class="name" style="color: #67cdd9"><%= name %></p>
                <p class="surname text-muted">Super Admin</p>
            </div>
            </div>
            <div class="links">
            <ul>
                <li class="active">
                <a class="nav-link" href="/api/home">
                    <span class="link-title ">dashbord </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
                <li>
                <a class="nav-link" href="/api/products">
                    <span class="link-title ">catalog </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
                <li>
                <a class="nav-link" href="/api/orders">
                    <span class="link-title">orders </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
                <li>
                <a class="nav-link" href="/api/customers">
                    <span class="link-title">customers </span>
                    <span class="link-icon"><i class="fa fa-angle-right"></i></span>
                </a>
                </li>
            </ul>
            </div>
            <div class="footer">
            <div class="social media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            </div>
        </div>
        <!-- End section for fixsid navbar -->
    
        <!--start header section  -->
        <header>
            <div class="header-section">
            <div class="container">
                <div class="row">
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h2>
                    Welcome <strong style="color: #67cdd9"><%= name %></strong><br/><small class="text-muted">You Look Awesome!</small>
                    </h2>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="section">
                        <strong>12569</strong><br />
                        
                        <i class="fas fa-shopping-basket"></i><br />Daily
                            Order
                        </h2>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="section">
                        <strong>2346</strong><br />
                        <i class="fas fa-rocket"></i><br />orders
                            Completed
                        </h2>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="section">
                        <strong>$ 101</strong><br />
                        <i class="fas fa-gem"></i> <br />Monthly
                            Sales
                        </h2>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <h2 class="section">
                        <strong>$ 56000</strong><br />
                        <i class="fas fa-chart-area"></i><br />Total Revenue
                        </h2>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <img src="../../../assets/imgs/dashboard_header.jpeg" alt="header image" class="animation-zoom" >
        </header>
        <!--end header section  -->
    <!-- start table of content -->
    <!--Start orders table -->
    <section id="order-details" class="my-5">
            <div class="container">
                    <div class="row text-center pt-5">
                        <div class="col-12">
                            <h2>order details</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <h5><i class="fa fa-shopping-cart"> products:</i></h5>
                            <h4  class="d-inline-block">status:</h4> <span class="badge badge-warning">processing</span>
                            <br>
                        </div>
                    </div>
                <div class="row">
                    <%=order%>
                    <div class="row">
                        <div class="col-12 p-5">
                                <table class="table table-striped text-center" >
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>product name</th>
                                            <th class="hidden-xs">Description</th>
                                            <th class="hidden-xs">Price</th>
                                            <th >Image</th>
                                        </tr>
                                        <tbody>
                                            <p>The table></p>
                                        </tbody>
                                    </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row info">
                        <div class="col-6 p-5">
                            <h3>customer info:</h3>
                          <P>The data of user</P>
                        </div>
                        <div class="col-6">
                            <img src="../../../assets/imgs/personal-info.svg" alt="personal-info" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--End orders table -->

    <!-- End table of content -->

<% include partials/footer.ejs %>
<script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"
></script>
<script src="../../../../assets/js/plugin.js"></script>
</body>
</html>