/**Start my framework**/
* {
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* my palet 
#6c757d gray
#D7263D red
#F46036  orange 
#1B998B blee green 
#C5D86D green
#571F4E purpel
#4f111969
 */
/* font-family: "Shrikhand", cursive;  */
/* This font for headings  */

/**End my framework**/
/**Start Main Rulez**/

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  overflow-x: hidden;
  font-family: "Amaranth", sans-serif;
}
/* start The scrollbar part */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #720e64;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/*  end The scrollbar part */
/**End Main Rulez**/
.content{
    background-image: url(../img/login1.jpg );
    /* margin-left: 0; */
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    padding: 1.5rem 1.7rem;
    transition: width 0.25s ease, margin 0.25s ease;
}
.content .form{
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}



/* -------The meadia queries------- */

/* mopile view */
@media (max-width: 698px) {}

/* small devise */
@media (min-width: 699px) {}

/* Medium devices (tablets) */

@media (min-width: 768px) {}

/* Large devices (desktops) */

@media (min-width: 992px) {

}
/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}