/**Start my framework**/
* {
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #c5d86d;
  text-decoration: none;
}

/* my palet 
#6c757d gray
#D7263D red
#F46036  orange 
#1B998B blee green 
#C5D86D green
#571F4E purpel
 */
/* font-family: "Shrikhand", cursive;  */
/* This font for headings  */

/**End my framework**/

/**Start Main Rulez**/

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  overflow-x: hidden;
  font-family: "Amaranth", sans-serif;
}
#scroll-to-top {
  background-color: #571f4e;
  color: #ffffff;
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem;
  z-index: 10000;
  opacity: 0.7;
  border-radius: 0.9rem 0 0.9rem 0;
  display: none;
}
a:hover,
button:hover,
i:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: white;
}
a:hover {
  color: #f46036;
}
button {
  text-transform: capitalize;
}
.mybutton {
  color: #c5d86d;
  background-color: #571f4e;
  border-color: #571f4e;
  outline: none;
  margin: 20px auto;
  border-radius: 0.9rem 0 0.9rem 0;
  position: relative;
  transition: 0.3ms;
  overflow: hidden;
}

.mybutton:hover {
  color: #571f4e;
  background-color: #ffffff;
}
.mybutton:focus{
  box-shadow: none;
}
.mybutton span:first-of-type {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 0.2rem;
  background: #1b998b;
}
h3 {
  font-size: 3em;
  margin-bottom: 10%;
  text-shadow: 0px 5px 10px #571f4e;
  position: relative;
}
/* start The scrollbar part */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #720e64;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/*  end The scrollbar part */

/**End of Main Rulez**/

/*Start the header */
/* the navbar part */
.my-nav {
  position: relative;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #80808038;
  font-size: 1.5rem;  
  color: #ffffff;
  background-color: #4f111969;
}
.my-nav .navbar-brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 10px #c5d86d;
  font-family: "Handlee", cursive;
}

.my-nav .navbar-nav > li > a {
  color: #ffffff;
  position: relative;
}

.my-nav .navbar-nav > li > a:hover {
  color: #ffffff;
}
.my-nav .navbar-nav li a span {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 0.2rem;
  background: #1b998b;
}
.my-nav .navbar-toggler {
  background-color: #571f4e;
}
.my-nav .navbar-toggler .navbar-toggler-icon {
  color: #c5d86d;
}

/* End  nav */

/* Start cart item */

/* .my-nav .nav-info-items{
  background-color: transparent;
  color: white;
} */

.my-nav .cart-info{
  cursor: pointer;
  /* background-color: transparent;
  color: white;
  border: none */
}


/* cart */
.cart{
	position: absolute;
  top: 4.6rem;
	right: 0;
	width: 0;
	min-height: 10rem;
  background: #B7969F;
	transition: all 0.4s ease-in-out;
  overflow: hidden;
  border: 1px solid #571f4e;
  border-radius: 0.9rem 0 0.9rem 0;
}

.show-cart {
  width: 20rem;
  color: black;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}

.cart-item {
  transition: all 2s ease-in-out;
}
/* end of cart */

/* cart item */
.cart-item img{
  width: 50px;
  height: 50px;
}


#cart-item-price {
  font-size: 0.8rem;
}

/* end cart item */



/* Start the popup section */

button {
  color: black;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 117, 155, 0.4);
  z-index: 100;
  display: none;
}
.inner {
  width: 500px;
  color: white;
  border: 1px dotted;
  padding: 5rem;
  position: fixed;
  left: 50%;
  margin-left: -220px;
  top: 50%;
  margin-top: -220px;
  border-radius: 0.9rem 0 0.9rem 0;
  background-color: #571f4e;
  border-color: #571f4e;
  font-size: 24px;
  -webkit-box-shadow: 0 0 10px 10px #c5d86d;
  box-shadow: 0 0 30px 0px #c5d86d;
}
.inner i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  border-radius: 50%;
}
.inner form label {
  color: #c5d86d;
}
.inner form .mybutton {
  color: white;
  font-size: 1.3rem;
  border-color: #ffffff;
  background-color: #571f4e;
  outline: none;
  margin: 20px auto;
  border-radius: 0.9rem 0 0.9rem 0;
}

.inner form .mybutton:hover {
  color: #571f4e;
  background-color: #ffffff;
}
.inner span a {
  color: white;
}
.inner span a:hover {
  color: #c5d86d;
}

/* start of header */
header {
  position: relative;
  color: white;
  min-height: 675px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../imgs/cart.jpeg);
  background-position-y: 25%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 10%;
}
header button.btn {
  font-size: 1.5rem;
  margin-top: 3% !important;
}
header button i{
  color: #ffffff;

}
header button i:hover{
  color: #571f4e

}
header #wavePart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 143px;
  background: url(../imgs/wave.png);
  z-index: 10;
  -webkit-animation: animate 10s linear infinite;
  animation: animate 10s linear infinite;
}
header #wavePart::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 143px;
  background: url(../imgs/wave.png);
  left: 0;
  top: 0;
  opacity: 0.4;
  -webkit-animation: animate-reverse 10s linear infinite;
  animation: animate-reverse 10s linear infinite;
}
header #wavePart::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 143px;
  background: url(../imgs/wave.png);
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation: animate 20s linear infinite;
  animation: animate 20s linear infinite;
}

/* End of header */

/*Start ShoppingCart section */
#ShoppingCart aside ul {
  list-style: none;
  font-size: 18px;
  line-height: 4;
  padding-top: 1%;
  margin-top: 5.5rem;
}

#ShoppingCart aside ul li a i:first-of-type {
  color: black;
}
#ShoppingCart aside ul li a i {
  color: #f46036;
  padding-right: 5%;
}
#ShoppingCart aside ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #f46036;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#ShoppingCart .action-button{
  background-color: white;
    padding: 0.2rem;
    border-radius: 20%;
    font-weight: bold;
    font-size: larger;
    color: #5b284e;
}
#ShoppingCart .action-button:hover{
  color: #f46036;
}
/* End ShoppingCart sesectionc */

/* start footer */
footer {
  background-color: #571f4e;
  text-align: center;
  color: white !important;
}
footer h3 {
  font-family: "Handlee", cursive !important;
  font-weight: bold;
  padding-top: 2%;
  font-size: 1.5rem;
}
footer .col-md-3 ul {
  list-style: none;
  margin-left: -3rem;
  font-size: larger;
}
footer .col-md-3 a,
footer .col-sm-4 i,
footer .col-sm-4 p {
  color: #c5d86d;
  margin-right: 0.5rem;
}
footer .col-md-3 a:hover {
  border-bottom: none;
}
footer .col-md-3 a i {
  font-size: 1.3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
footer .col-sm-4 i {
  font-size: 3.3rem;
  padding-bottom: 3%;
}
footer .col-sm-4 i:hover {
  color: white;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.75);
  cursor: none;

}
footer .copy-right {
  padding: 2%;
}

/* -------The meadia queries------- */

/* mopile view */
/* it should have min 620 px */
@media (max-width: 300px) {
  header h1 {
    font-size: 4.5rem !important;
    margin-bottom: 5rem;
  }
  header h4 {
    display: none;
  }
}
@media (max-width: 575px) {
}
@media (max-width: 698px) {
  .navbar .container button {
    margin-right: 1rem;
  }
}
/* small devise */
@media (min-width: 699px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 992px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
